* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    line-height: 1.6;
    font-family: system-ui, sans-serif;
}

:root {
    --color-primary: #596D48;
    --color-error: #e74c3c;
    --color-success: #3498db;
    --color-input-border: #E5E7EB;

    --radius-sm: 4px;
}

.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
}


/* Start of Sidebar CSS */
.sidebar {
    flex: 0 0 30%;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.photo-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.photo-img {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
}

.photo-watermark {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;

    font-size: 80px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.6);
}

.photo-credit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    font-size: 16px;
    text-align: center;
    color: white;

    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.photo-credit a {
    color: white;
}

/* End of Sidebar CSS */


/* Start of Main bar CSS */
.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

.content p {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hero {
    width: 70%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

fieldset {
    width: 70%;

    border: 0;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

fieldset p {
    font-size: 1.45rem;
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    gap: 2rem;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    padding: 12px;
    border: 1px solid var(--color-input-border);
    border-radius: var(--radius-sm);
}

input:required:valid {
    border: 1px solid var(--color-success);
}

input:required:invalid {
    border: 1px solid var(--color-error);
}

button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 12px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: var(--radius-sm);
    cursor: pointer;
}

#login-link a {
    color: var(--color-primary)
}

/* End of Main bar CSS */